{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('registrations.static', filename='css/style.css') }}">
<style>
    .timeline {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 2px solid #dee2e6;
        /* vertical line */
    }

    .timeline-item {
        position: relative;
        margin-bottom: 20px;
    }

    .timeline-icon {
        position: absolute;
        left: -34px;
        /* position circle on line */
        top: 0;
    }

    .timeline-icon span {
        width: 28px;
        height: 28px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
{% endblock %}
{% block user_page %}
<div class="main-div">


    <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left py-3 px-4">
        <div class="justify-content-between mb-3 row">
            <div class="col-6 col-md-6">
                <h5 class="text-pos">Test Booking Management</h5>
            </div>
            <div class="col-6 col-md-6 text-end">

            </div>
        </div>
        <div class="row g-3 mb-4">
        <div class="col-md-6">
            <label class="form-label fw-semibold">From Date</label>
            <input type="date" class="form-control shadow-sm" id="from_date">
        </div>

        <div class="col-md-6">
            <label class="form-label fw-semibold">To Date</label>
            <div class="d-flex">
                <input type="date" class="form-control shadow-sm" id="to_date" placeholder="dd/mm/yyyy - dd/mm/yyyy">
                <button class="btn btn-dark ms-2" id="searchBtn">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
        <div class="text-dark">
            <div class="table-responsive">
                <table id="testReg_table"
                    class="table-responsive-sm table-responsive border-0 dataTable no-footer table table-bordered table-hover"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Booking ID</th>
                            <th>Patient Name</th>
                            <th>Date</th>
                            <th>Referred Dr</th>
                            <th>MR/Ref No</th>
                            <th>Test Name</th>
                            <th>Total Amount</th>
                            <th>Discount</th>
                            <th>Net Amount</th>
                            <th>Recieved</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="table_body" class=""></tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<!-- Technician Comments Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Technician Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- History -->
                <div id="commentsHistory" class="timeline mb-3"></div>

                <!-- New Comment -->
                <textarea id="newComment" class="form-control" placeholder="Write a new comment..."></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCommentBtn">Save Comment</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="filmsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Films</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="bookingIdInput">
                <label class="mb-1">Current Films:</label>
                <input type="number" class="form-control" id="currentFilmsInput" disabled>
                <label class="mb-1">Changed To *</label>
                <input type="number" class="form-control" id="changedFilmsInput">
                <label class="mb-1">Cause *</label>
                <select id="causeSelect" class="form-control ">
                    <option value="Extra">Extra</option>
                    <option value="Repeat">Repeat</option>
                    <option value="Error">Error</option>
                </select>
                <label class="mb-1">Reason *</label>
                <textarea name="" id="reasonInput" rows="5" class="form-control"></textarea>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveEditfilms">Save Comment</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="{{ url_for('booking.static', filename='js/view_booking.js') }}"></script>



{% endblock %}