@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: #f1f1f1 !important;
  color: #444444 !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--bs-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

hr {
  margin: 10px 0px;
  color: darkgray;
}

::-moz-selection {
  color: #ffffff;
  background: var(--bs-primary);
}

::selection {
  color: #ffffff;
  background: var(--bs-primary);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#loader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #f3f3f3;
  border-top-color: var(--bs-primary);
  border-bottom-color: var(--bs-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-loader 1s linear infinite;
}

@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
*:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.navbar {
  box-shadow: 0px 3px 7px -6px rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 8px;
  box-shadow: none;
  border: 0px;
}

.form-control,
.form-select {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.form-control:focus,
.form-select:focus {
  background-color: #fff;
  border: 1.8px solid var(--bs-primary);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
}

.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: white;
}

.btn:focus-visible {
  box-shadow: none !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

@media only screen and (max-width: 1199px) {
  header .logo {
    display: none !important;
  }

  .header .toggle-sidebar-btn {
    padding-left: 0px;
  }
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0 0 0.1rem 0.1rem rgba(161, 157, 184, 0.3);
  background-color: #fff;
  padding-left: 20px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: var(--bs-primary);
}

/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: var(--bs-primary);
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: var(--bs-primary);
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0 0 0.1rem 0.1rem rgba(161, 157, 184, 0.3);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav hr {
  margin: 10px;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 12px;
  text-transform: uppercase;
  color: dimgray;
  padding: 15px 0 10px 15px;
  margin: 15px 0px;
  font-weight: 500;
  background: #f5f5f5d4;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #899bbd;
  border-left: none;
  background: #fff;
  transition: 0.3;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #899bbd;
}

.sidebar-nav .nav-link.active {
  color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
}

.sidebar-nav .nav-link.active i {
  color: var(--bs-primary);
}

.sidebar-nav .nav-link:hover {
  color: var(--bs-primary);
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: var(--bs-primary);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 10px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dash-overview .card {
  padding: 15px;
  border: none;
  border-bottom: 3px solid var(--bs-primary);
}

.dash-overview .card h1 {
  margin-bottom: 4px;
  font-size: 34px;
}

.dash-overview .card p {
  margin: 0px;
  font-size: 15px;
  color: gray;
}
