{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/style.css') }}">
{% endblock stylesheets %}

{% block content %}
{% endblock %}
{% block user_page %} 
<div class="main-div">

    <div class="row g-3 justify-content-between mb-3">  
            <div class="col-md-4">
              <h5 class="text-pos">Branch Management</h5>
            </div>
            <div class="col-md-4 text-end">
              <!-- <button class="btn btn-primary d-none" id="add_branch_btn" data-bs-toggle="modal" data-bs-target="#addBranchModal">HiddenButton</button> -->
              <button class="btn btn-primary" id="trigger_add_branch">Add Branch</button>
            </div>
    </div>
    <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left py-3 px-4">
    <div class="text-dark">
        <div>
            <table id="branch_table" class="table-responsive-sm border-0 dataTable no-footer table table-bordered table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Branch</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table_body" class=""></tbody>
              </table>

        </div>        
        
    </div>
</div>
</div>
<!-- Add Branch Modal -->
<div class="modal fade" id="addBranchModal" tabindex="-1" aria-labelledby="addBranchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBranchModalLabel">Add Branch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
           <div class="mb-3 update-section">
            <label for="branch_id" class="form-label">Branch ID</label>
            <input type="text" class="form-control" id="branch_id" name="branch_id" disabled>
          </div> 
          <div class="mb-3">
            <label for="branch_name" class="form-label">Branch Name</label>
            <input type="text" class="form-control" id="branch_name" name="branch_name">
          </div>
          <div class="mb-3">
            <label for="branch_description" class="form-label">Description</label>
            <textarea class="form-control" id="branch_description" name="branch_description" rows="3"></textarea>
          </div>
          <div class="mb-3 update-section">
            <label for="created_by" class="form-label">Created By</label>
            <input type="text" class="form-control" id="created_by" name="created_by" disabled>
          </div>
          <button id="create_branch" type="button" class="btn btn-primary create-section">Add Branch</button>
            <button id="update_branch" type="button" class="btn btn-primary update-section">Update Branch</button>


        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="{{ url_for('admin.static', filename='js/branch.js') }}"></script>



{% endblock %}