/* Toggle Switch Scoped to Branch Table */
#branch_table .switch-toggle-table {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

#branch_table .switch-toggle-table input {
    opacity: 0;
    width: 0;
    height: 0;
}

#branch_table .slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

#branch_table .slider-toggle:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

#branch_table input:checked + .slider-toggle {
    background-color: #28a745;
}

#branch_table input:checked + .slider-toggle:before {
    transform: translateX(20px);
}
