<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
  <title>TMC Diagnostic Center</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">

  {% block stylesheets %}
  {% endblock %}
  </head>

<body>

  <!-- header -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='fulllogo.png') }}" alt="logo" width="200px" height="40px">

      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="https://dummyimage.com/400x400/444444/d3d3d3.png" alt="avatar" class="rounded-circle">
            <span class="text-capitalize d-none d-md-block dropdown-toggle ps-2">{{ session_user_name }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 class="text-capitalize">{{ session_user_name }}</h6>
              <span class="text-capitalize">{{ session_user_role }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <!-- <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('users.profile') }}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('main.logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header> <!-- header ends -->

  <!-- sidebar -->
 <!-- Sidebar -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- Dashboard -->
    <li class="nav-item">
      <a href="{{ url_for('admin.view_admin_dashboard') }}" class="nav-link active">
        <i class="bi bi-house-door-fill"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- AMD with Dropdown -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-toggle="collapse" href="#amdMenu" role="button" aria-expanded="false" aria-controls="amdMenu">
        <i class="bi bi-bank2"></i>
        <span>Department</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse" id="amdMenu" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('users.view_user') }}" class="nav-link">
            <i class="bi bi-person-fill-add"></i>
            <span>User</span>
          </a>
        </li>   
        <li>
         <a href="{{ url_for('admin.view_branch') }}" class="nav-link">
            <i class="bi bi-house-add-fill"></i>
            <span>Branch</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Alexa -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-alexa"></i>
        <span>Alexa</span>
      </a>
    </li>

    <!-- Amazon -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-amazon"></i>
        <span>Amazon</span>
      </a>
    </li>

    <!-- Settings -->
    <li class="nav-heading">Settings</li>
    <li class="nav-item"></li>
      <a href="{{ url_for('users.profile') }}" class="nav-link">
        <i class="bi bi bi-gear"></i>
        <span>Account Settings</span>
      </a>
    </li>
  </ul>
</aside>

  <!-- main -->
  <main id="main">
    {% block user_page %}
    
    {% endblock %}
  </main> <!-- main ends -->

  <div id="loader"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
  $("#loader").hide();

  $(document).on("click", ".toggle-sidebar-btn", function () {
    $("body").toggleClass("toggle-sidebar");
  });
});
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>

</html>